.tab {
  width: 100%;
  color: #2c3e50;
  overflow: hidden;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
  display: none;
}

.admission input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
<<<<<<< HEAD
  align-items: center;
=======
>>>>>>> 0c4dcf9 (New commit message.)
}

.tab-label::after {
  content: "+";
  width: 18px;
  height: 18px;
  text-align: center;
  transition: all 0.35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em em;
  color: #2c3e50;
  background: #FCFCFC;
  transition: all 0.35s;
}

input:checked~.tab-content {
  max-height: 100vh;
<<<<<<< HEAD
  padding: 1em;
=======
  padding: 30px;
>>>>>>> 0c4dcf9 (New commit message.)
}

input:checked~.tab-label::after {
  content: '-';
}
<<<<<<< HEAD
=======

.admission .tab-content p{
  padding-bottom: 45px;
}

.admission .tab-content p:last-child{
  padding: 0;
}
>>>>>>> 0c4dcf9 (New commit message.)
