@font-face {
  font-weight: 400;
  font-family: 'Levenim MT';
  src: url(../font/lvnm.ttf);
}

@font-face {
  font-weight: 600;
  font-family: 'Levenim MT';
  src: url(../font/lvnmbd.ttf);
}

body {
  box-sizing: border-box;
  font-family: 'Roboto';
}

<<<<<<< HEAD
=======
.banner {
  background: url(../img/banner.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

>>>>>>> 0c4dcf9 (New commit message.)
.inner {
  width: 1125px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 13px;
}

.logo-flex {
  display: flex;
  align-items: center;
  gap: 13px;
}

h1 {
<<<<<<< HEAD
  font-family: 'Levenim MT';
  font-weight: 300px;
  font-size: 30px;
}

h2 {
  font-family: 'Levenim MT';
  color: #006600;
  font-size: 38px;
  font-weight: bold;
=======
  font-weight: 300px;
  font-size: 30px;
  font-family: 'Levenim MT';
}

h2 {
  color: #006600;
  font-weight: bold;
  font-size: 38px;
  line-height: 1.5;
  font-family: 'Levenim MT';
>>>>>>> 0c4dcf9 (New commit message.)
}

h3 {
  color: #FFFFFF;
  font-size: 25px;
}

h4 {
<<<<<<< HEAD
  font-family: 'Roboto', sans-serif;
  color: #006600;
  font-size: 25px;
  font-weight: 500;
}

h5 {
  font-size: 25px;
  font-weight: 500;
  color: #333333;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #555555;
=======
  color: #006600;
  font-weight: 500;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

h5 {
  color: #333333;
  font-weight: 500;
  font-size: 20px;
}

p {
  color: #555555;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  font-family: 'Roboto', sans-serif;
>>>>>>> 0c4dcf9 (New commit message.)
}

i {
  color: #006600;
  font-size: 20px;
}

a {
  color: #E7ECF2;
}

a:hover {
  color: #FFAE11;
}

.org {
  color: #FFAE11;
}

span a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #006600;
  gap: 10px;
}

span a::before {
  color: #006600;
  text-align: center;
  content: '|';
}

.step {
  color: #333333;
  border-bottom: 1px solid #BBBBBB;
  line-height: 2;
}

.px-1 {
  padding: 15px;
}

.px-2 {
  padding-bottom: 30px;
}

.px-3 {
  padding-bottom: 120px;
}

.px-5 {
<<<<<<< HEAD
  padding: 50px 0;
}

.mv-blk {
  background: url(../img/main_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
=======
  padding: 120px 0 100px;
>>>>>>> 0c4dcf9 (New commit message.)
}

.bg-color {
  background-color: #FCFCFC;
}

nav ul .active a {
  color: #FFAE11;
}

<<<<<<< HEAD
@media (max-width: 1024px) {
=======
.res {
  display: none;
}

@media (max-width: 1024px) {
  .pc {
    display: none;
  }

>>>>>>> 0c4dcf9 (New commit message.)
  .inner {
    width: 75%;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
<<<<<<< HEAD
    font-size: 28px;
=======
    font-size: 25px;
>>>>>>> 0c4dcf9 (New commit message.)
  }

  h3 {
    font-size: 15px;
  }

  h4 {
<<<<<<< HEAD
    font-size: 15px;
  }

  h5 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

  .res {
=======
    font-size: 25px;
  }

  h5 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  .banner .res {
>>>>>>> 0c4dcf9 (New commit message.)
    display: flex;
    flex-direction: column-reverse;
  }

<<<<<<< HEAD
  .res .flex-end {
    display: block;
  }

  .res .flex-start {
    display: block;
  }

  .mv-blk nav i {
    color: #FFAE11;
  }

  .mv-blk .tab-label {
=======
  .banner .res .flex-end {
    display: block;
  }

  .banner .res .flex-start {
    display: block;
  }

  .banner .res span {
    color: #FFAE11;
    font-size: 20px;
  }

  .banner nav i {
    color: #FFAE11;
  }

  .banner .tab-label {
>>>>>>> 0c4dcf9 (New commit message.)
    padding: 0;
    display: flex;
  }

<<<<<<< HEAD
  .mv-blk input:checked~.tab-label::after {
    content: none;
  }

  .mv-blk .tab-label::after {
    content: none;
  }

  .mv-blk .tab-content {
=======
  .banner input:checked~.tab-label::after {
    content: none;
  }

  .banner .tab-label::after {
    content: none;
  }

  .banner .tab-content {
>>>>>>> 0c4dcf9 (New commit message.)
    padding: 0;
    background-color: #006600;
    text-align: center;
  }

<<<<<<< HEAD
  .mv-blk .tab-content ul li {
=======
  .banner .tab-content ul li {
>>>>>>> 0c4dcf9 (New commit message.)
    padding: 10px;
  }

}
<<<<<<< HEAD
=======

@media (max-width: 768px) {
  .inner {
    width: 90%;
  }

}
>>>>>>> 0c4dcf9 (New commit message.)
