.footer-nav {
  background-color: #333333;
  padding: 20px 0;
}

.copyright {
  text-align: center;
  background-color: #006600;
  padding: 20px 0;
}

footer ul li {
  line-height: 2;
  color: #FFFFFF;
}

footer h4 {
  color: #FFFFFF;
}

footer p {
  color: #FFFFFF;
}

.footer-nav {
  padding: 72px;
}

.dflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 45px;
  padding-right: 130px;
}

@media (max-width: 1024px) {
  .dflex {
    flex-wrap: nowrap;
    padding-right: 0;
    gap: 20px;
    flex-direction: column;
  }

  .footer-nav {
    padding: 50px 0;
  }

  .copyright {
    padding: 20px;
  }
}
