<<<<<<< HEAD
.sam {
  padding: 50px 0;
}

.sam-img img {
  width: 318px;
  height: 325px;
}

.sam-img {
=======
.sam-img img {
  width: 318px;
}

.academicsdetails .sam-img img {
>>>>>>> 0c4dcf9 (New commit message.)
  text-align: center;
}

.sam h3 {
  color: #FFAE11;
  font-weight: 400;
  font-size: 25px;
}

.sam-txt {
  width: 65%;
}

<<<<<<< HEAD
=======
.sam-img-txt {
  text-align: center;
}

>>>>>>> 0c4dcf9 (New commit message.)
.strategic-flex {
  display: flex;
  flex: 1 1 45%;
  gap: 30px;
}

.strategic-sec h4 {
  font-weight: 400;
}

.strategic-sec p {
  font-size: 16px;
  line-height: 30px;
<<<<<<< HEAD
  padding: 15px;
}

.strategic-sec {
  padding-bottom: 50px;
}

@media (max-width: 1024px) {
  .sam-img {
=======
}

.strategic-sec {
  padding-top: 90px;
}

@media (max-width: 1024px) {
  .sam .sam-img {
    width: 100%;
  }

  .sam .sam-img img {
>>>>>>> 0c4dcf9 (New commit message.)
    width: 100%;
  }

  .sam-txt {
    width: 100%;
  }

  .strategic-flex {
    display: flex;
    flex-direction: column-reverse;
  }

<<<<<<< HEAD
=======
  .strategic-sec img {
    width: 100%;
  }
>>>>>>> 0c4dcf9 (New commit message.)

}
